
/* COLORS */
$clr-100: hsl(0, 0%, 100%);
$clr-200: hsl(240, 5%, 91%);
$clr-300: hsl(240, 6%, 50%);
$clr-400: hsl(237, 12%, 33%);
$clr-500: hsl(238, 29%, 16%);
$clr-accent: hsl(14, 88%, 65%);

$clr-grad-one: hsl(273, 75%, 66%);
$clr-grad-two: hsl(240, 73%, 65%);


/* TYPE */
$ff-regular: 'Kumbh Sans', sans-serif;

$fw-regular: 400;
$fw-bold: 700;

$fs-header-100: 2rem;
$fs-question-100: 0.813rem;
$fs-answer-100: 0.75rem;
